openapi: 3.0.0
info:
  title: Content Factory API
  version: 1.0.0
  description: |
    Content Factory - Megafactory for content automation
    
    Mage platform for:
    - Parsing content from multiple sources (Telegram, TikTok, YouTube, VK, Instagram, Twitter)
    - Generating content using AI (text, images, videos)
    - Publishing to multiple social networks
    - Managing content workflows and analytics
  contact:
    name: Content Factory Team
  license:
    name: Proprietary

servers:
  - url: https://api.contentfactory.app/v1
    description: Production API
  - url: http://localhost:8000/v1
    description: Local Development

paths:
  /auth/register:
    post:
      summary: Register new user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - username
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email or username already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      summary: Login user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/me:
    get:
      summary: Get current user profile
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /parsers:
    get:
      summary: List all parsers
      tags:
        - Parsers
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of parsers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Parser'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      summary: Create new parser
      tags:
        - Parsers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateParserRequest'
      responses:
        '201':
          description: Parser created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parser'
        '400':
          description: Invalid input

  /parsers/{parserId}:
    get:
      summary: Get parser details
      tags:
        - Parsers
      security:
        - bearerAuth: []
      parameters:
        - name: parserId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Parser details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parser'
        '404':
          description: Parser not found

    put:
      summary: Update parser
      tags:
        - Parsers
      security:
        - bearerAuth: []
      parameters:
        - name: parserId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateParserRequest'
      responses:
        '200':
          description: Parser updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parser'

    delete:
      summary: Delete parser
      tags:
        - Parsers
      security:
        - bearerAuth: []
      parameters:
        - name: parserId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Parser deleted

  /parsers/{parserId}/run:
    post:
      summary: Manually trigger parser
      tags:
        - Parsers
      security:
        - bearerAuth: []
      parameters:
        - name: parserId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Parser job started
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [queued, running, completed, failed]

  /content/generate/text:
    post:
      summary: Generate text content
      tags:
        - Content Generation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextGenerationRequest'
      responses:
        '200':
          description: Generated text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextGenerationResponse'

  /content/generate/image:
    post:
      summary: Generate image
      tags:
        - Content Generation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationResponse'

  /content/generate/video:
    post:
      summary: Generate video
      tags:
        - Content Generation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Video generation started (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string

  /posts:
    get:
      summary: List all posts
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: platform
          in: query
          schema:
            type: string
            enum: [instagram, tiktok, twitter, telegram, youtube, vk]
      responses:
        '200':
          description: List of posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'

    post:
      summary: Create new post
      tags:
        - Posts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'

  /posts/{postId}:
    get:
      summary: Get post details
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'

    put:
      summary: Update post
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post updated

    delete:
      summary: Delete post
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Post deleted

  /posts/{postId}/publish:
    post:
      summary: Publish post to social networks
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - platforms
              properties:
                platforms:
                  type: array
                  items:
                    type: string
                    enum: [instagram, tiktok, twitter, telegram, youtube, vk]
                schedule_at:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Post published
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  published_at:
                    type: string
                    format: date-time

  /analytics/overview:
    get:
      summary: Get analytics overview
      tags:
        - Analytics
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'

  /analytics/posts/{postId}:
    get:
      summary: Get analytics for specific post
      tags:
        - Analytics
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAnalytics'

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        full_name:
          type: string
        avatar_url:
          type: string
          format: uri
        tier:
          type: string
          enum: [free, pro, enterprise]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AuthToken:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          default: Bearer
        expires_in:
          type: integer
          description: Token expiry in seconds

    Parser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [telegram, vk, youtube, tiktok, website, custom]
        config:
          type: object
          description: Parser-specific configuration (JSONB)
        is_active:
          type: boolean
        schedule:
          type: string
          description: Cron expression
        last_run_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CreateParserRequest:
      type: object
      required:
        - name
        - type
        - config
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        type:
          type: string
          enum: [telegram, vk, youtube, tiktok, website, custom]
        config:
          type: object
        schedule:
          type: string
        is_active:
          type: boolean
          default: true

    UpdateParserRequest:
      type: object
      properties:
        name:
          type: string
        config:
          type: object
        schedule:
          type: string
        is_active:
          type: boolean

    TextGenerationRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Content to base generation on
        style:
          type: string
          enum: [professional, casual, humorous, educational, promotional]
          default: casual
        language:
          type: string
          default: en
        tone:
          type: string
          enum: [positive, negative, neutral, excited, sad]
          default: neutral
        max_length:
          type: integer
          default: 280
        include_hashtags:
          type: boolean
          default: true
        include_cta:
          type: boolean
          default: false
        num_variants:
          type: integer
          default: 1
          maximum: 5

    TextGenerationResponse:
      type: object
      properties:
        texts:
          type: array
          items:
            type: string
        hashtags:
          type: array
          items:
            type: string
        cta:
          type: string
        confidence_score:
          type: number
          format: float
          minimum: 0
          maximum: 1

    ImageGenerationRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
        style:
          type: string
          enum: [photorealistic, illustration, cartoon, abstract, 3d, digital_art]
          default: photorealistic
        aspect_ratio:
          type: string
          enum: [square, portrait, landscape, 16:9, 4:3]
          default: square
        num_images:
          type: integer
          default: 1
          minimum: 1
          maximum: 4
        quality:
          type: string
          enum: [draft, standard, high]
          default: standard

    ImageGenerationResponse:
      type: object
      properties:
        images:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              width:
                type: integer
              height:
                type: integer
              seed:
                type: integer

    VideoGenerationRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [from_images, from_script]
        images:
          type: array
          items:
            type: string
            format: uri
        script:
          type: string
        duration:
          type: integer
          description: Duration in seconds
        fps:
          type: integer
          enum: [24, 30, 60]
          default: 30
        aspect_ratio:
          type: string
          enum: [9:16, 1:1, 16:9]
          default: 9:16

    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content:
          type: object
          description: Platform-specific content
        status:
          type: string
          enum: [draft, scheduled, published, failed, archived]
        platforms:
          type: array
          items:
            type: string
        scheduled_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time
        engagement:
          type: object
          description: Engagement metrics
        created_at:
          type: string
          format: date-time

    CreatePostRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: object
          description: Post content
        platforms:
          type: array
          items:
            type: string
        scheduled_at:
          type: string
          format: date-time

    AnalyticsOverview:
      type: object
      properties:
        total_posts:
          type: integer
        total_engagement:
          type: integer
        avg_engagement_rate:
          type: number
          format: float
        posts_by_platform:
          type: object
          additionalProperties:
            type: integer
        engagement_by_platform:
          type: object
          additionalProperties:
            type: integer

    PostAnalytics:
      type: object
      properties:
        post_id:
          type: string
          format: uuid
        platform_metrics:
          type: array
          items:
            type: object
            properties:
              platform:
                type: string
              views:
                type: integer
              likes:
                type: integer
              comments:
                type: integer
              shares:
                type: integer
              engagement_rate:
                type: number

    Error:
      type: object
      properties:
        success:
          type: boolean
          default: false
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              status:
                type: integer
              details:
                type: object

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Parsers
    description: Content parsing from various sources
  - name: Content Generation
    description: AI-powered content generation
  - name: Posts
    description: Post management and publishing
  - name: Analytics
    description: Analytics and insights

